@font-face {
    font-family: 'Palanquin-Dark-Medium';
    src: url("./assets/fonts/Palanquin_Dark/PalanquinDark-Medium.ttf");
}
@font-face {
    font-family: 'Palanquin-Medium';
    src: url("./assets/fonts/Palanquin/Palanquin-Medium.ttf");
}

body{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    max-width: 1440px;
    width: 100%;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #E76C1F;
    height: 112px;

    display: flex;
    justify-content: center;
}

.burgermenu {
    height: 60px;
    width: 60px;
}

footer{
    font-family: 'Palanquin-Medium';
    font-size: 16px;
    color: white;

    background-color: #E76C1F;
    height:112px;
    max-width: 11440px;
    width: 100%;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}