button{
    cursor: pointer;
}

.delete{
    cursor: pointer;
}

.remove{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.close {
    background-color: #09212A;
    border:none;
    cursor: pointer;
}

.btn-addToBasket{
    font-family: 'Palanquin-Medium';
    font-size: 16px;
    background-color: white;

    border: none;
    border-radius: 16px;
    transition: filter 1s ease 0s;
}
.btn-addToBasket:hover {
    color: #E76C1F;
    filter: drop-shadow(2px 4px 2px #000000);

}

#order-btn {
    font-family: 'Palanquin-Medium';
    font-size: 20px;
    font-weight: 500;

    background-color: #E76C1F;
    color: white;

    border: none;
    border-radius: 12px;
}
