#mobile-basket {
    height: 600px;
    width: auto;
}

.mobile-basket{
    position: sticky;
    top: 0;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    font-family: 'Palanquin-Medium';
    color: #FDEADC;
}
.mobile-basket > h2 {
    margin: 20px 8px;
}

#mobile-order > .basket-dish{
    min-width: 335px;
}

@media(max-width: 435px){
    #mobile-order > .basket-dish{
        min-width: 0;
    }
    
    #mobile-order{
        height: 96%;
    }
}
