@media (max-width: 891px){
    .basket-dish{
        min-width: 150px;
    }
}

@media (max-width: 800px){
    
    #order{
        width: 80%;
    }

    .basket-dish{
        min-width: 200px;
    }
    .menu-wrapper{
        flex-direction: column;
    }
    .basket-wrapper{
        display:none;
    }

    .c-content{
        justify-content: center;
    }

    .mobile-nav{
        display: flex;
    }
}
.show{
    display: flex;
    width: 100%;
}

@media (max-width: 377px){
    h1{
        font-size:36px;
    }
    .dish > img {
        height: 120px;
        width: 100px;
    }
    .title{
        flex-direction: column;
    }
    .pos-rel > img{
        height: 240px;
        width: 240px;
    }
    .dish{
        flex-direction: column;
        align-items: center;
    }
    .dish-info{
        padding: 10px 0;
    }
    .dish-info-head > h2 {
        font-size: 20px;
    }
    .dish-info-main{
        font-size: 16px;
    }
    .dish-info-footer{
        display: flex;
        justify-content: center;
        height: 40px;
    }



}