dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #09212A;

    width: 320px;
    height: 320px;

}

dialog:not([open]) {
     display: none; 
}

dialog header {
    display:flex;
    justify-content: flex-end;
    height: 64px;
    background-color: #09212A;
}
dialog main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

dialog main > img{
    height: 120px;
    object-fit: fill;
}

dialog footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #09212A;
    height: auto;
}

.propagation{
    display:flex;
    flex-direction: column;
    align-items: center;
}