button{
    cursor: pointer;
}

.delete{
    cursor: pointer;
}

.remove{
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
.close {
    background-color: #09212A;
    border:none;
    cursor: pointer;
}
