.dishes{
    display:flex;
    flex-direction: column;
    align-items: center;

    width:100%;    
    gap: 20px;
    padding: 20px 0;
}
.dish{
    display: flex;

    width: 100%;
    max-width: 1440px;
    background-color:#FDEADC;

    border-radius: 16px;
}
.dish > img {
    height: 200px;
    width: 180px;
    object-fit: fill;
}

.dish-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    width: 100%;
    padding: 0 8px;
}

.dish-info-head{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 24px;
}

.dish-info-footer{
    display: flex;
    justify-content: flex-end;
}