.basket-wrapper{
    padding: 16px 0;
    width: 30%;
}

.basket{
    max-height: 600px;
    position: sticky;
    top: 0;
    background-color: #363534;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 12px;
    font-family: 'Palanquin-Medium';
    color: #FDEADC;
}
.basket > h2 {
    margin: 20px 8px;
}
#order{
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-color: white none;
}

.basket-dish{
    background-color: #FDEADC;
    color: black;
    border-radius: 12px;

    margin: 16px 12px;
    padding: 16px;
    height: auto;

    display: flex;
    flex-direction: column;
}

.basket-dish > img {
    height: 200px;
    width: 180px;
    object-fit: fill;
}

.basket-dish-head {
    display:flex;
    align-items: center;
    gap: 8px;
}

.basket-dish-head > h2{
    font-size: 20px;

    padding: 0;
    margin: 0;
}

.basket-dish-head > svg:hover > path{
    fill: #E76C1F;
}

.basket-dish-info-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adjust{
    display: flex;
    align-items: center;
    gap: 4px;
}

#basket-footer{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
    padding: 20px 0;
    border-radius: 16px;
}

.total{
    width: 100%;
    text-align: center;

    display: flex;
    justify-content: space-between;
}


/* Scrollbar-Size  */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar-Background  */
::-webkit-scrollbar-track {
  background: none;
}

/* Scrollbar-Handle  */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

.d_none{
    display: none;
}