@media (max-width: 740px){
    
    .menu-wrapper{
        flex-direction: column;
    }
    .basket-wrapper{
        display:none;
    }

    .c-content{
        justify-content: center;
    }

    .mobile-nav{
        display: flex;
    }
}
.show{
    display: flex;
    width: 100%;
}